<div class="jumbotron">

  <form>
    <div class="form-group">
        <label>Movie Title</label>
        <input type=text class="form-control" name="movie1" [(ngModel)]="movie1">
    </div>
    <button class="btm btn-default" (click)="getMovieDetails(movie1)" >Search</button>
  </form>
  <hr>
  <img src="{{movies.Poster}}" class="img-thumbnail" alt="Cinque Terre" style="width:20%">
  <h3> {{movies.Title}} </h3>
  <h4>{{movies.Plot}}</h4>
  <h5>IMDB Rating: {{ movies.imdbRating }}</h5>
  <h5>Awards: {{movies.Awards}}</h5>
  <h5>Starring: {{movies.Actors}}</h5>
</div>
