body{
    background-color: pink;
}

.jumbotext{
    color: white;
    font-size: 35px;
}

.container{
    padding: 2%;
}

.jumbotron {
    background-color: red;

}

.letter{
    font-size: 200px;
    color: white;
    align-content: center;
    text-align: center;
}

